<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; justify-content: space-between; align-items:center; width:100%;">
      <ion-title>Contact Detail</ion-title>

      <!-- Botón Back siempre visible -->
      <ion-button (click)="goBack()">Back</ion-button>

      <!-- Botones condicionales -->
      @if (!modifyMode) {
      <ion-button (click)="changeModifyMode()">Edit</ion-button>
      <ion-button (click)="clearContact()">Clear</ion-button>
      }
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Modo vista -->
  @if (!modifyMode) {
  <div style="padding: 20px;">
    <h2>Contact</h2>

    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <p>{{ name }}</p>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <p>{{ email }}</p>

    </ion-item>

    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <p>{{ phone }}</p>

    </ion-item>

    <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <p>{{ type }}</p>
    </ion-item>


  </div>
  } @else {
  <!-- Modo edición -->
  <div style="padding: 20px;">
    <h2>Edit Contact</h2>

    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="name" placeholder="Enter name">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" placeholder="Enter email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input type="tel" [(ngModel)]="phone" placeholder="Enter phone">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <ion-input [(ngModel)]="type" placeholder="Enter type">
      </ion-input>
    </ion-item>

    <div style="margin-top:16px;">
      <ion-button expand="block" color="primary" (click)="saveContact()">Save</ion-button>
      <ion-button expand="block" color="medium" (click)="cancel()">Cancel</ion-button>
    </div>
  </div>
  }

</ion-content>